* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* Navbar */
.navbar {
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1); /* Trasparente */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.navbar.active {
    background-color: #3A5A40;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px; /* Altezza delle immagini del logo */
    margin-right: 15px; /* Spazio tra le due immagini del logo */
}

/* Menu Hamburger */
.menu-toggle {
    display: none;
    cursor: pointer;
    position: relative;
    width: 25px; /* Dimensioni relative */
    height: 20px;
}

.menu-toggle .bar {
    width: 25px; /* Dimensioni relative */
    height: 3px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    transition: all 0.3s ease;
}

.menu-toggle .bar:nth-child(1) {
    top: 0;
}

.menu-toggle .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

/* Trasformazione in "X" */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(-45deg);
    top: 50%;
}

/* Links della navbar */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Transizione per max-height e opacità */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-size: 40px;
}

.nav-links li {
    margin-left: 20px;
    padding-bottom: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem; /* Dimensioni relative */
    font-family: 'Tenor Sans', sans-serif;
    transition: color 0.3s ease, transform 0.3s ease; /* Aggiungi transizione per l'ingrandimento */
    display: inline-block; /* Assicurati che l'elemento sia trattato come un blocco inline per il transform */
}

/* Effetto hover sugli elementi del menu */
.nav-links a:hover {
    color: #f0f0f0; /* Colore al passaggio del mouse */
    transform: scale(1.2); /* Ingrandisce l'elemento */
}

/* Hero Section */
.hero {
    background-image: url('AU3A9247.jpg'); /* Immagine di sfondo */
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-text {
    position: relative;
    z-index: 2;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 48px;
}


/* Media Queries per il Menu Hamburger */
.nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: #3A5A40; /* Sfondo del menu a tendina */
    width: 100%; /* Larghezza completa per il menu */
    max-height: 0; /* Inizialmente nascosto */
    overflow: hidden;
    opacity: 0;
    z-index: 5;
}

.nav-links.active {
    max-height: 500px; /* Altezza sufficiente per mostrare i link */
    opacity: 1; /* Rendi visibile il menu */
}

.menu-toggle {
    display: block; /* Mostra l'icona hamburger */
}

.navbar {
    padding: 20px 5%; /* Padding aumentato su schermi piccoli */
}

/* Sezione Recensioni e CTA */
.reviews-cta {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; /* Assicura che la sezione copra almeno l'altezza dello schermo */
}

.review-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
    text-align: center;
    padding: 2em 2%;
}

.review-content {
    max-width: 600px;
}

.stars {
    font-size: 2rem;
    color: #f5c518; /* Colore oro per le stelle */
    margin-bottom: 1em;
}

.star {
    margin: 0 2px;
}

.review-text {
    font-size: 1.2rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.cta-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea tutto il contenuto a sinistra */
    background: url('AU3A9243.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: left;
    padding: 2em 2%;
    position: relative;
	margin-top: -70px;
}

.cta-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Opacità nera */
    z-index: 1;
}

.cta-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
}

.cta-title {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
	margin-top: 1.5em;
}

.cta-text {
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.cta-button {
    background-color: #fff;
    color: #000;
    padding: 0.75em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
	transition: color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #000;
    color: #fff;
	transform: scale(1.1);
}

@media (max-width: 768px) {
    .review-text, .cta-text {
        font-size: 1rem;
    }

    .cta-title {
        font-size: 2rem;
    }

    .cta-buttons {
        flex-direction: column;
        align-items: flex-start; /* Allinea i pulsanti a sinistra in modalità mobile */
    }

    .cta-button {
        width: auto;
        text-align: center;
    }
}

/* piede */
.piede {
    background-color: #fff;
    padding: 2em 5%;
    text-align: center;
	height: 40vh;
}

.piede-content {
	margin-top: 5em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.piede-logo {
	display: block;
    margin: 0 auto;
    max-width: 200px;
	height: 50px;
	margin-bottom: 0.8em;
}

.piede-name {
    display: block;
    margin: 0 auto;
    max-width: 200px; /* Adatta a seconda delle dimensioni dei tuoi loghi */
}

.piede-links {
    margin: 1.5em 0;
    font-family: 'Roboto', sans-serif;
}

.piede-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 1rem;
}

.piede-links a:hover {
    text-decoration: underline;
}

.piede-line {
    border-top: 1px solid #000;
    margin: 1em 0;
    max-width: 100%; /* Spazio dai bordi */
    margin-left: auto;
    margin-right: auto;
}

.piede-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
}

.piede-left {
    font-size: 0.875rem;
    color: #333;
}

.piede-right a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 0.875rem;
}

.piede-right a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .piede-bottom {
        flex-direction: column;
        align-items: center;
    }

    .piede-right {
        margin-top: 1em;
		margin-bottom: 1em;
    }

    .piede-right a {
        display: block;
        margin: 5px 0;
    }
	
	.cta-content{
		text-align: center;
	}
	
	.cta-buttons {
		align-items: center;
	}
}
